// bower:scss
// endbower

@font-face {
  font-family: 'Jaapokki';
  src: url('../Regular/web/jaapokki-regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../Regular/web/jaapokki-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.top-header {
  width: 100%;

  h1 {
    display: inline-block;
    margin-left: 50px;
    font-family: "Jaapokki";
    font-size: 45px;
  }

  ul {
    float: right;
    display: inline-block;
    margin-right: 50px;
    text-align: center;
  }

  li {
    display: inline-block;
  }
}

.header {
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
  }
}

.views-container {
  width: 90%;
  margin: 0 auto;

  .main-view {
    width: 100%;

    .reviews-container {
      text-align: center;
      width: 100%;

      .full-review-container {
        width: 80%;
        margin: 0 auto;

        .game-info {
          width: 80%;
          margin: 0 auto;
          text-align: left;
          display: inline-block;
          position: relative;

          ul {
            padding: 0;

            li {
              display: block;
              text-decoration: none;
            }
          }
        }

        .full-review-header {
          padding-top: 100px;
          font-size: 40px;
        }

        .full-review-header-img {
          width: 100%;

          img {
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
          }
        }

        .review {
          width: 80%;
          display: block;
          text-align: left;
          margin: 0 auto;
          margin-bottom: 80px;
        
          .full-review-reviewer {
            text-align: center;
            font-size: 30px;
            margin: 0 auto;
            margin-bottom: 20px;
          }

          span {
            width: 90%;
            font-size: 17px;
            line-height: 27px;
            margin-left: 50px;
            display: inline-block;
          }

          .image-container {
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;

            p {
              text-align: center;
            }

            img {
              width: 100%;
            }
          }

          .review-score {
            font-size: 40px;
            text-align: center;
            margin: 20px 0;
          }
        }
      }

      .review-contents {
        width: 40%;
        // max-height: 500px;
        overflow: scroll;
        padding: 20px;
        margin: 20px;
        vertical-align: top;
        display: inline-block;
        border: 1px solid black;

        .review-start {
          width: 60%;
          margin: 0 auto;
          margin-bottom: 20px;
          text-align: center;
          font-size: 25px;

          img {
            width: 100%;
            display: block;
            margin-top: 20px; 
            margin-bottom: 20px;
          }
        }

        span {
          font-size: 18px;
          padding: 10px;
        }

        .review-score {
          margin-top: 20px;
          font-size: 25px;
        }
      }
    }
  }

  .create-review {
    width: 80%;
    margin: 0 auto;

    div {
      text-align: center;
      margin: 30px;

      input {
        padding: 4px;
        width: 300px;
      }

      .game-title {
        display: inline-block;
      }

      #info-input {
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
      }
    }

    textarea {
      display: block;
      width: 60%;
      height: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 8px;
      font-size: 16px;
      resize: none;
    }

    button {
      text-align: center;
      margin: 0 auto;
      padding: 5px;
    }
  }
}

.footer {
  display: block;
}

@media screen and (max-width: 910px) {

  .views-container 
  .main-view 
  .reviews-container 
  .review-contents {
    width: 70%;
  }
}

