// bower:scss
// endbower

$background: #FCFCFC;
$button-background: #586E57;
$border: #AAAAAA;
$review-background: #3F733C;
$main-font-color: #2C2C2E;
$transition-color: #192C55;
$header-font: 'Ropa Sans', sans-serif;

// ads.ign.com/advertisers.activision/COD_AW_PS_DLC1/IGN_COD_022015_v2.jpg

body {
  margin: 0;
  color: $main-font-color;
  background: #E3E3E3;
  // background: url('../images/neat.jpg')no-repeat fixed;
  background-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
}

.top-header {
  width: 100%;
  height: 90px;
  background-color: $background;
  color: $main-font-color;
  font-family: $header-font;
  position: relative;

  .logo {
    width: 170px;
    position: relative;
  }

  h1 {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    top: 15px;
    left: 165px;
    font-size: 40px;
    transition: all 1s ease;

    &:hover {
      text-shadow: 1px 1px 2px;
      color: $transition-color;
      transition: all 1s ease;
    }
  }

  ul {
    float: right;
    margin-right: 100px;

    li {
      display: inline-block;
      list-style: none;
      margin: 5px;
      margin-top: 15px;

      a {
        text-decoration: none;
        color: $main-font-color;
        padding: 3px;
        border: 1px solid $transition-color;
        border-radius: 3px;
        font-size: 16px;
        color: $transition-color;
        background: #E3E3E3;
        cursor: pointer;
        margin-bottom: 10px;
        transition: all 0.2s ease;

        &:hover {
          color: $border;
          background: $transition-color;
          transition: all 0.2s ease;
        }
      }
    }
  }  
}

.header {
  width: 100%;
  height: 30px;
  background-color: $background;
  color: $main-font-color;
  border-bottom: 1px solid $border;
  font-family: $header-font;
  // text-align: center;

  .searchbar {
    float: right;
    margin-right: 100px;
    
    input {
      border-radius: 3px;
      border: 1px solid $border;
      padding: 4px;
    }    
  }

  .display-search {
    top: 130px;
    right: 25px;
    width: 250px;
    max-height: 400px;
    overflow: scroll;
    text-align: left;
    padding: 4px;
    border: 2px solid $border;
    border-radius: 3px;
    background: $background;
    position: absolute;
    z-index: 20;

    li {
      list-style: none;
      padding: 4px;
      border-bottom: 1px solid $border;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        color: $transition-color;
        transition: all 0.5s ease;
      }
    }
  }

  ul {
    width: 60%;
    margin: 0;
    margin-top: 9px;
    padding: 0;
    display: inline-block;

    li {
      font-size: 17px;
      display: inline-block;
      margin: 10px;
      margin-bottom: 3px;
      margin-top: 0;

      a {
        background-color: $background;
        padding: 3px;
        padding-left: 25px;
        border-left: 1px solid $border;
        text-decoration: none;
        color: $main-font-color;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          transition: all 0.2s ease;
          color: $transition-color;
        }
      }

      .border-right {
        padding-right: 25px;
        border-right: 1px solid $border;
      }
    }
  } 
}

.img-slider-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;

  #img-slidr {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;

    img {
      width: 40%;
      height: 400px;
      margin-left: 50px;
      border-radius: 3px;
      border: 1px solid $border;
    }

    .reviewer-info {
      margin-right: 80px;
      float: right;
      width: 40%;
    }

    .ul-container {
      width: 40%;

      li {
        margin-top: 3px;
        margin-left: 8px;
        list-style: none;
      }
    }
  }
}

// .banner {
//   background-image: url('http://files.enjin.com.s3.amazonaws.com/197273/module_header/11571039/background/destiny_banner.png');
//   // background-size: cover;
//   // width: 100%;
//   height: 200px;
// }

.main-slidr {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 1;
  background-color: $background;
  border: 1px solid $border;
  border-bottom: none;

  .slidr-container {
    width: 100%;
    
    .main-side-container {
      width: 33.333%;
      display: inline-block;
      height: 450px;

      .side-slidr-container {
        width: 100%;
        height: 225px;

        img {
          opacity: 1;
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
      }
    }

    .work {
      width: 66.666%;
      display: inline-block;
      float: right;

      #slidr-img {
      width: 100%;
      height: 450px;

        img {
          width: 100%;
          height: 450px;
        }
      }
    }

    .bottom-news-container {
      width: 100%;
      position: relative;
      bottom: 4px;
      cursor: pointer;

      .bottom-news {
        width: 33.333%;
        display: inline-block;

        img {
          width: 100%;
          height: 200px;
        }
      }
    }  
  }
}

.views-container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid $border;
  border-top: none;
  // border-radius: 0 2px 2px 0;
  background-color: $background;
  
  h1 {
    margin: 0px 0px 20px 40px;
  }

  .login-style {
    input {
      display: block;
      margin: 20px;
    }

    button {
      display: block;
      margin: 20px;
    }
  }

  .main-view {
    width: 100%;
    
    .sidebar {
      width: 20%;
      float: right;
      font-family: $header-font;

      h3 {
        margin: 0;
        margin-top: 30px;

        a {
          text-decoration: none;
          color: $main-font-color;
          transition: all 0.2s ease;
          border-left: 1px solid $border;
          border-bottom: 1px solid $border;
          border-radius: 0 3px;
          padding: 4px;

          &:hover {
            border-bottom: 2px solid $transition-color;
            border-left: 2px solid $transition-color;
            border-radius: 0 3px;
            transition: all 0.2s ease;
          }
        }
      }

      .team-sidebar {
          width: 100%;
          margin-top: 10px;

          img {
            margin-top: 20px;
            margin-right: 20px;
            width: 35%;
            height: 80px;
            border: 1px solid $border;
            border-radius: 5px;
          }
        }

      .side-game {
        font-size: 15px;
        margin-top: 20px;
        cursor: pointer;

        div {
          width: 90%;

          img {
            width: 100%;
            // height: 100px;
            border: 1px solid $border;
            border-radius: 2px;
            cursor: pointer;
          }
        }
      }
    }
    
    .review-container {
      width: 100%;
      text-align: center;

      .full-review-container {
        width: 80%;
        margin: 0 auto;

        button {
          color: $main-font-color;
        padding: 3px;
        border: 1px solid $transition-color;
        border-radius: 3px;
        font-size: 16px;
        color: $transition-color;
        background: #E3E3E3;
        cursor: pointer;
        margin-bottom: 10px;
        transition: all 0.2s ease;

        &:hover {
          color: $border;
          background: $transition-color;
          transition: all 0.2s ease;
        }
        }
      
        .comment-container {
          width: 100%;
          margin-top: 50px;
          position: relative;

          .post-button-container {
            width: 38%;
            display: inline-block;
            vertical-align: top;

            .create-comment {
              width: 100%;

              textarea {
                width: 100%;
                height: 400px;
                display: block;
                border-radius: 3px;
                padding: 5px;
              }
            }

            button {
              margin: 10px;
            }
          }

          .comments-container {
            text-align: left;
            width: 60%;
            display: inline-block;
            vertical-align: top;

            .comment-view {
              border-bottom: 2px solid $transition-color;
              border-left: 2px solid $transition-color;
              border-radius: 0 3px;
              margin: 10px;
              margin-top: 25px;
              padding: 5px;
              position: relative;

              .user-info {
                width: 20%;
                display: inline-block;

                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 4px;
                  border: 1px solid $border;
                }
              }

              .view-post {
                display: inline-block;
                width: 70%;
                vertical-align: top;
              }
            }
          }
        }

        .game-info {
          width: 80%;
          margin: 0 auto;
          text-align: left;
          display: inline-block;

          ul {
            padding: 0;

            li {
              display: block;
              text-decoration: none;
            }
          }
        }

        .full-review-header {
          font-size: 40px;
          margin-top: 50px;
          font-family: $header-font;
        }

        .full-review-header-img {
          width: 100%;

          img {
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
          }
        }

        .review {
          width: 80%;
          display: block;
          text-align: left;
          margin: 0 auto;
          margin-bottom: 80px;
          position: relative;

          .next-button {
            margin-left: 80px;
            margin-top: 40px;
            position: relative;

            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
            }

            span {
              position: absolute;
              top: -25px;
              left: 75px;
              width: 200px;
              font-size: 14px;

              br {
                height: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
              }
            }
          }
        
          .full-review-reviewer {
            text-align: center;
            font-size: 30px;
            margin: 0 auto;
            margin-bottom: 20px;
            font-family: $header-font;
          }

          span {
            width: 100%;
            font-size: 17px;
            line-height: 27px;
          }

          .image-container {
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;

            p {
              text-align: center;
            }

            img {
              width: 100%;
            }
          }

          .review-score {
            font-size: 40px;
            text-align: center;
            margin: 20px 0;
          }
        }
      }
    }

    .reviews-container {
      width: 68%;
      display: inline-block;

      h1 {
        width: 40%;
        margin: 20px;
        font-size: 20px;
        cursor: pointer;
        font-family: $header-font;

        a {
          transition: all 0.2s ease;
          border-left: 1px solid $border;
          border-bottom: 1px solid $border;
          border-radius: 0 3px;
          text-decoration: none;
          padding: 5px;
          color: $main-font-color;

            &:hover {
            border-bottom: 2px solid $transition-color;
            border-left: 2px solid $transition-color;
            border-radius: 0 3px;
            transition: all 0.2s ease;
          }
        }
      }
      
      .review-contents {
        width: 100%;

        .full-review {
          width: 90%;
          padding: 20px;
          margin: 20px;
          border-left: 1px solid $border;
          border-bottom: 1px solid $border;
          border-radius: 0 3px;
          transition: all 0.2s ease;
          display: inline-block;

          h2 {
            font-family: 'Ropa Sans', sans-serif;
          }

          &:hover {
            transition: all 0.2s ease;
            border-bottom: 1px solid $transition-color;
            border-left: 1px solid $transition-color;
            border-radius: 3px;
            cursor: pointer;
            color: $border;
            position: relative;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $transition-color;
          }

          .uploader {
            width: 100%;
            margin-top: 20px;

            .vs {
              display: inline-block;
              margin-right: 15px;
            }

            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              display: inline-block;
            }
          }

          h2 {
            margin: 0;
          }

          .review-start {
            width: 30%;
            display: inline-block;
            text-align: center;
            font-size: 25px;

            img {
              width: 100%;
              display: block;
              margin-top: 20px; 
              margin-bottom: 20px;
              border: 1px solid $border;
              border-radius: 2px;
            }
          }

          .quick-review {
            align-self: center;
            font-size: 16px;
            margin-top: 15px;
            width: 60%;
            float: right;
          }
        } 
      }
    }
  }

  .create-review {
    width: 80%;
    margin: 0 auto;

    div {
      text-align: center;
      margin: 0 30px;

      .checkbox {
        width: 45%;
        margin: 0 auto;

        input {
          width: 20px;
        }
      }

      input {
        padding: 4px;
        margin-bottom: 20px;
        width: 300px;
      }

      .game-title {
        display: inline-block;
      }

      #info-input {
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
      }
    }

    textarea {
      display: block;
      width: 60%;
      height: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 8px;
      font-size: 16px;
      resize: none;
    }

    button {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 5px;
      cursor: pointer;
    }
  }

  .team-view {
    width: 100%;
    margin: 0 auto;
    background-color: $background;
    padding-top: 80px;

    .meet-team {
      width: 100%;
      text-align: center;
      margin-bottom: 80px;
    }

    .team-member {
      width: 90%;
      display: inline-block;
      margin-bottom: 80px;
      padding: 20px;

      img {
        width: 45%;
        border: 1px solid $border;
        border-radius: 3px;
      }

      .reviewer-info {
        width: 45%;
        float: right;

        .ul-container {
          position: relative;

          ul {
            vertical-align: top;
            margin-top: 20px;
            width: 45%;
            padding: 0;
            display: inline-block;
            font-size: 20px;

            li {
              list-style: none;
              margin-top: 10px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.footer {
  display: block;
  clear: both;
  background-color: $background;
  display: inline-block;
  width: 100%;
  margin-top: 80px;
  border-top: 1px solid $border;
  font-family: $header-font;

  span {
    font-size: 10px;
    float: right;
    margin-right: 70px;
    padding-bottom: 5px;

    a {
      text-decoration: none;
      color: $main-font-color;
    }
  }

  ul {
    width: 50%;
    margin: 0;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 40px;

    li {
      display: inline-block;
      margin-left: 20px;


      a {
        text-decoration: none;
        padding: 3px;
        color: $main-font-color;
        border-left: 1px solid $border;
        border-bottom: 1px solid $border;
        border-radius: 0 3px;
        transition: all 0.2s ease;

        &:hover {
          transition: all 0.2s ease;
          border-bottom: 2px solid $transition-color;
          border-left: 2px solid $transition-color;
          border-radius: 0 3px;
          cursor: pointer;
        }
      }
    }
  }
}

.views-container {
  .forum-view {

    h1 {
      font-size: 40px;
      padding: 20px;
      font-family: $header-font;
    }

    button {
      color: $main-font-color;
      padding: 3px;
      border: 1px solid $transition-color;
      border-radius: 3px;
      font-size: 16px;
      color: $transition-color;
      background: #E3E3E3;
      cursor: pointer;
      margin: 20px;
      transition: all 0.2s ease;

      &:hover {
        color: $border;
        background: $transition-color;
        transition: all 0.2s ease;
      }
    }

    .main-forum{
      .topic-view {
        width: 80%;
        margin-left: 20px;

        .main-topic-title {
          font-size: 30px;
          margin: 40px;
        }

        .posts {
          width: 100%;

          .post-view {
            width: 100%;
            padding: 10px;
            margin: 20px;
            border-left: 1px solid $border;
            border-bottom: 1px solid $border;
            border-radius: 0 3px;

            .full-post {
              width: 100%;
              position: relative;

              .post {
                display: inline-block;
                width: 80%;
                vertical-align: top;
                line-height: 20px;
                font-size: 15px;
              }

              .post-info {
                width: 15%;
                display: inline-block;

                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 3px;
                  border: 1px solid $border;
                }

                span {
                  display: block;
                  max-width: 110px;
                  overflow: scroll;
                }
              }
            }
          }
        }
      }

      .forums-view {
        width: 70%;
        margin-left: 40px;
        margin-bottom: 20px;
        padding: 5px 0px 5px 5px;
        border-bottom: 1px solid $border;
        border-left: 1px solid $border;
        border-radius: 0 3px;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid $transition-color;
          border-left: 1px solid $transition-color;
          border-radius: 0 3px;
          color: $transition-color;
          transition: all 0.2s ease;
        }

        .topic-container {
          width: 100%;
          position: relative;

          .topic-title {
            width: 80%;
            display: inline-block;
            vertical-align: top;
            font-size: 25px;
            padding: 0 10px;
          }

          .topic-uploader {
            width: 15%;
            height: 120px;
            display: inline-block;
            position: relative;
            vertical-align: top;

            img {
              width: 60px;
              height: 60px;
              border-radius: 3px;
              border: 1px solid $border;
              float: right;

            }

            span {
              text-align: right;
              max-width: 120px;
              overflow: scroll;
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }
  }

  .create-post-view {
    width: 90%;
    margin-top: 100px;

    div {
      margin-left: 20px;
      font-size: 25px;
    }

    textarea {
      width: 500px;
      height: 300px;
      display: block;
      margin: 20px;
      padding: 3px;
      font-size: 18px;
      resize: none;
    }

    button {
      color: $main-font-color;
      padding: 3px;
      border: 1px solid $transition-color;
      border-radius: 3px;
      font-size: 16px;
      color: $transition-color;
      background: #E3E3E3;
      cursor: pointer;
      margin: 20px;
      transition: all 0.2s ease;

      &:hover {
        color: $border;
        background: $transition-color;
        transition: all 0.2s ease;
      }
    }
  }

  .create-topic-view {
    width: 90%;

    div {
      padding: 20px;
      font-size: 25px;
    }

    textarea {
      width: 500px;
      height: 200px;
      display: block;
      margin: 20px;
      padding: 3px;
      font-size: 18px;
      resize: none;
    }

    button {
      color: $main-font-color;
      padding: 3px;
      border: 1px solid $transition-color;
      border-radius: 3px;
      font-size: 16px;
      color: $transition-color;
      background: #E3E3E3;
      cursor: pointer;
      margin: 20px;
      transition: all 0.2s ease;

      &:hover {
        color: $border;
        background: $transition-color;
        transition: all 0.2s ease;
      }
    }
  }
}

.views-container
.video {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;

  h1 {
    padding-top: 20px;
    margin: 0;
  }

  iframe {
    margin-top: 30px;
  }
}


@media screen and (max-width: 1000px) {

  .views-container 
  .main-view
  .sidebar {
    display: none;
  }

  .views-container 
  .main-view
  .reviews-container {
    width: 100%;

    .review-contents {
      width: 100%;
    }
  } 
}

@media screen and (max-width: 825px) {

  .header {
    width: 100%;
    ul {
      margin-left: 0;
      text-align: left;
    }
  }

  .main-slidr {
    display: none;
  }

  .views-container {
    margin-top: 50px;
    border-top: 1px solid $border;
  .main-view .reviews-container 
  .review-contents .full-review {
      width: 80%;
    }
  }

  .views-container
  .video h1 {
    margin-top: 30px;
    font-size: 18px;
  } 
}

@media screen and (max-width: 671px) {
  .header {
    width: 100%;

    ul {
      margin-top: 8px;
      width: 100%;

      li {
        padding: 2px;
        width: 7%;
          a {
          padding-left: 3px;
          text-align: left;
          font-size: 12px;
        }
      }
    }
  }

  .uploader {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .searchbar {
    display: none;
  }
}
