<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>review</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="top-header">
      <img class="logo" src="images/joygunlogo.png">
      <h1 class="title">JoyGun</h1>
      <ul>
        <li><a href="#login">Reviewer Login</a></li>
        <li><a href="#join" class="reviewer-button">Join</li></a>
        <li class='logout'><a class="reviewer-button">logout</a></li>
        <li><a href="#createReview" class="reviewer-button">Create Review</li></a>
      </ul>
    </div>
    <div class="header">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#game">Games</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#reviewer">Industry</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#forums">Forum</a></li>
      </ul>
      <span class="searchbar"></span>
      <div class="display-search"></div>

        
    </div>
    <!-- <div class="banner"></div> -->
    <div class="main-slidr"></div>

    <div class="views-container"></div>

    
    <div class="footer">
      <ul>
        <li><a href="#team">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <span><a href="http://mattdz3.github.io/Portfolio/">Created By Matt Dougherty</a></span>
    </div>

    <script type="text/template" class="home-view">
      <div class="sidebar">
        <h3><a href="#news">New News</a><h3>
        <div class="news-sidebar"></div>
        <h3><a href="#game">Game Reviews</a></h3>
        <div class="game-sidebar"></div>
        <h3><a href="#reviewer">Industry Reviews</a><h3>
        <div class="reviewer-sidebar"></div>
        <h3><a href="#team">Meet The Team</a></h3>
        <div class="team-sidebar">
          <a href="#team"><img src="images/evan.jpg"></a>
          <a href="#team"><img src="images/mike.jpg"></a>
          <a href="#team"><img src="images/cliff.jpg"></a>
          <a href="#team"><img src="images/matt.jpeg"></a>
        </div>
      </div>
      <div class="reviews-container">
        <h1><a href="#home">Newest Content</a></h1>
      </div>
      <div class="review-container"></div>
    </script>

    <script type="text/template" class="search-view">
      <input placeholder="Search" class="search">
    </script>

    <script type="text/template" class="display-search-view">
      <span><%= attributes.name %></span>
    </script>

    <script type="text/template" class="side-view">
      <div>
        <img src='<%= image %>'>
      </div>
    </script>

    <script type="text/template" class="main-side-view">
      <img src='<%= image %>'>
    </script>

    <script type="text/template" class="slidr-view">
      <div id="slidr-img">
        <img data-slidr="one" src="images/twitch.jpg">
        <img data-slidr="two" src="images/metalgear.jpeg">
        <img data-slidr="three" src="images/reddead.jpg">
      </div>
      <div class="main-side-container"></div>
    </script>

    <script type="text/template" class="join-view">
      <h1>Create Account</h1>
      <div class="login-style">
        <input class='username' placeholder="username">
        <input class='password' placeholder="password" type="password">
        <button class='user-pic'>Add Pic</button>
        <button class="create"> Create User </button>
      </div>
    </script>

    <script type="text/template" class="login-view">
      <h1> Login </h1>
      <div class="login-style">
        <input class='username' placeholder="username">
        <input class='password' placeholder="password" type="password">
        <button class="login">login</button>
      </div>
    </script>

    <script type="text/template" class="create-review-view">
      <div> 
        <h1>First Review</h1>
        <div class="checkbox">
          Game Review
          <input type="checkbox" name="game"> 
        </div>
        <div class="checkbox">
          Reviewer Review
          <input type="checkbox" name="reviewer"> 
        </div>
        <div class="checkbox">
          News
          <input type="checkbox" name="news"> 
        </div>
      </div>

      <div>
        <input class="game-title" placeholder="Title">
        <button class="add-pic"> Main Pic </button>
      </div>

      <textarea class="quick-review" placeholder="Quick review"></textarea>
      <textarea class="review-content" placeholder="1st Paragraph"></textarea>

      <div>
        <button class="image-one">Image 1</button>
        <input class="image-one-caption" placeholder="image caption">
      </div>

      <textarea class="second-review-content" placeholder="2nd Paragraph"></textarea>

      <div>
        <button class="image-two">Image 2</button>
        <input class="image-two-caption" placeholder="image caption">
      </div>

      <textarea class="thrid-review-content" placeholder="3rd paragrph"></textarea>

      <div>
        <button class="image-three">Image 3</button>
        <input class="image-three-caption" placeholder="image caption">
      </div>

      <textarea class="fourth-review-content" placeholder="4th Paragraph"></textarea>

      <div>
        <input id="info-input" class="developer" placeholder="Developer">
        <input id="info-input" class="publisher" placeholder="Publisher">
        <input id="info-input" class="score" placeholder="Score">
      </div>

      <div>
        <button class="create">Submit Review</button>
      </div>
    </script>

    <script type="text/template" class="create-second-review-view">
      <div> 
        <h1>Second Review</h1>
      </div>

      <textarea class="review-content" placeholder="1st Paragraph"></textarea>

      <div>
        <button class="image-one">Image 1</button>
        <input class="image-one-caption" placeholder="image caption">
      </div>

      <textarea class="second-review-content" placeholder="2nd Paragraph"></textarea>

      <div>
        <button class="image-two">Image 2</button>
        <input class="image-two-caption" placeholder="image caption">
      </div>

      <textarea class="thrid-review-content" placeholder="3rd paragrph"></textarea>

      <div>
        <button class="image-three">Image 3</button>
        <input class="image-three-caption" placeholder="image caption">
      </div>

      <textarea class="fourth-review-content" placeholder="4th Paragraph"></textarea>

      <div>
        <input id="info-input" class="score" placeholder="Game Score">
      </div>

      <div>
        <button class="create">Submit Second Review</button>
      </div>
    </script>

    <script type="text/template" class="review-view">
      <div class="full-review">
        <h2> <%= name %> </h2>
        <div class="review-start">
          <img src="<%= image %>">
        </div>
        <span class="quick-review"><%= quickReview %>
          <div class="uploader">
            <div class="vs">
              <img src="<%=reviewerPic%>">
            </div>
            <img src="images/vs.png" class="vs">
            <div class="vs">
              <% if (this.model.get('secondReviewerPic') == undefined) { %>
              <img src="images/user.png">
              <% } else { %>
              <img src="<%=secondReviewerPic%>">
              <% } %>
            </div>
          </div>
        </span>
        
      </div>
    </script>

    <script type="text/template" class="full-review-view">
      <div class="full-review-header"><%= name %></div>
      <div class="full-review-header-img">
        <img src="<%= image %>">
      </div>

      <div class="review">
        <div id="slidr-id">
          <div data-slidr="first-review">
            <div class="full-review-reviewer">
              By: <%= reviewer %>
            </div>

            <span>
              <%= reviewOne %>
            </span>

            <div class="image-container">
              <img src="<%=imageOne%>">
              <p><%=captionOne%></p>
            </div>

            <span>
              <%= reviewTwo %>
            </span>

            <div class="image-container">
              <img src="<%=imageTwo%>">
              <p><%=captionTwo%></p>
            </div>

            <span>
              <%= reviewThree %>
            </span>

            <div class="image-container">
              <img src="<%=imageThree%>">
              <p><%=captionThree%></p>
            </div>
            <span>
              <%=reviewFour%>
            </span>
            <div class="review-score">
              <%= score %>
            </div>
              <span class="next-button">
                <% if (this.model.get('secondReviewerPic') == undefined) { %>
                <img src="images/user.png">
                <span> Sorry no review yet</span>
                <% } else { %>
                <img src="<%=secondReviewerPic%>">
                <span><%=secondReviewer%> Review</span>
                <% } %>
              </span>
          </div>


          <div data-slidr="second-review">
            <div class="full-review-reviewer">
              <% if (this.model.get('secondReviewer') == undefined) { %>
              Sorry we are lazy and have not got this review up yet. Please check back later. <br> Thanks!
              <% } else { %>
                By: <%= secondReviewer %>
              <% } %>
            </div>

            <% if (this.model.get('secondReviewOne') == undefined) { %>
              <span></span>
            <% } else { %>
              <span><%= secondReviewOne %></span>
            <% } %>

            <% if (this.model.get('secondImageOne') == undefined) { %>
              <span></span>
            <% } else { %>
              <div class="image-container">
                <img src="<%=secondImageOne%>">
                <p><%=secondCaptionOne%></p>
              </div>
            <% } %>

            <% if (this.model.get('secondReviewTwo') == undefined) { %>
              <Span></span>
            <% } else { %>
              <span><%= secondReviewTwo %></span>
            <% } %> 
            
            <% if (this.model.get('secondImageTwo') == undefined) { %>
              <span> </span>
            <% } else { %>
              <div class="image-container">
                <img src="<%=secondImageTwo%>">
                <p><%=secondCaptionTwo%></p>
              </div>
            <% } %>
            
            <% if (this.model.get('secondReviewThree') == undefined) { %>
              <Span></span>
            <% } else { %>
              <span><%= secondReviewThree %></span>
            <% } %> 

            <% if (this.model.get('secondImageThree') == undefined) { %>
              <span> </span>
            <% } else { %>
              <div class="image-container">
                <img src="<%=secondImageThree%>">
                <p><%=secondCaptionThree%></p>
              </div>
            <% } %>
            
            <% if (this.model.get('secondReviewFour') == undefined) { %>
              <Span></span>
            <% } else { %>
              <span><%= secondReviewFour %></span>
            <% } %> 
            
            <% if (this.model.get('secondScore') == undefined) { %>
              <span></span>
            <% } else { %>
              <div class="review-score">
                <%= secondScore %>
              </div>
            <% } %>
            <span class="next-button">
              <img src="<%=reviewerPic%>">
              <span><%=reviewer%> Review</span>
            </span>
          </div>
        </div>
      </div>
      
      <div class="game-info"> 
        <ul>
          <li>Developer: <%=developer%> </li>
          <li>Publisher: <%=publisher%> </li>
        </ul>
      </div>

      <button class='load-comments'> Load Comments </button>
      <button class="create-second-review">Create Second Review</button>

      
      <div class="comment-container">
        <div class="comments-container"></div>
        <div class="post-button-container">
          <div class="create-comment">
            <textarea class="comment" placeholder="Make a post!"></textarea>
            <button class="reviewPost">Post</button>
            <button class="newsPost">Post</button>
            <button class="reviewerPost">Post</button>
          </div>
          <button class="hide-comments">Hide Comments</button>
        </div>
      </div>
    </script>

    <script type="text/template" class="comment-view">
      <%=attributes.post%>
    </script>

    <script type="text/template" class="team-view">
      <div class="meet-team">
        <h1>Meet the team</h1>
      </div>
      
      <div class="team-member">
        <img src="images/evan.jpg">
        <div class="reviewer-info">
          Hi my name is Evan Gosnell! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <div class='ul-container'>
            <ul> Likes:
              <li>Cool Stuff</li>
            </ul>
            <ul>Dislikes:
              <li>Uncool Stuff</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="team-member">
        <img src="images/mike.jpg">
        <div class="reviewer-info">
          Hi my name is Mike Adam! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
          <div class='ul-container'>
            <ul> Likes:
              <li>Cool Stuff</li>
            </ul>
            <ul>Dislikes:
              <li>Uncool Stuff</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="team-member">
        <img src="images/cliff.jpg">
        <div class="reviewer-info">
          Hi my name is Cliff Overstreet! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
          <div class='ul-container'>
            <ul> Likes:
              <li>Cool Stuff</li>
            </ul>
            <ul>Dislikes:
              <li>Uncool Stuff</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="team-member">
        <img src="images/matt.jpeg">
        <div class="reviewer-info">
          Hi my name is Matt Dougherty! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. qui officia deserunt mollit anim id est laborum.
          <div class='ul-container'>
            <ul> Likes:
              <li>Cool Stuff</li>
            </ul>
            <ul>Dislikes:
              <li>Uncool Stuff</li>
            </ul>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" class="news-view">
        <div class="full-review">
        <h2> <%= name %> </h2>
          <div class="review-start">
            <img src="<%= image %>">
          </div>
          <span class="quick-review"><%= quickReview %>
            <div class="uploader">
              <div class="vs">
                <img src="<%=reviewerPic%>">
              </div>
            </div>
          </span>
        </div>
    </script>

    <script type="text/template" class="reviewer-view">
        <div class="full-review">
        <h2> <%= name %> </h2>
          <div class="review-start">
            <img src="<%= image %>">
          </div>
          <span class="quick-review"><%= quickReview %>
            <div class="uploader">
              <div class="vs">
                <img src="<%=reviewerPic%>">
              </div>
              <img src="images/vs.png" class="vs">
              <div class="vs">
              <% if (this.model.get('secondReviewerPic') == undefined) { %>
                <img src="images/user.png">
                <% } else { %>
                <img src="<%=secondReviewerPic%>">
                <% } %>
              </div>
            </div>
          </span>
        </div>
    </script>

    <script type="text/template" class="forum-view">
      <h1> Forums </h1>
      <div class="main-forum"></div>
      <button class="create-new-topic">Create New Topic</button>
    </script>

    <script type="text/template" class="forums-view">
      <div class="topic-title"><%=name%></div>
    </script>

    <script type="text/template" class="topic-view">
      <div class="main-topic-title"><%=name%></div>
      <div class="posts"></div>
      <button class="create-new-post">Create New Post</button>
    </script>

    <script type="text/template" class="create-topic-view">
      <div> What do you want to create? </div>
      <textarea placeholder="Topic Title" class="create-topic"></textarea>
      <textarea placeholder="Content" class="create-post"></textarea>
      <button> Create </button>
    </script>

    <script type="text/template" class="create-post-view">
      <div> What do you want to say? </div>
      <textarea placeholder="Post" class="create-post"></textarea>
      <button> Create </button>
    </script>

    <script type="text/template" class="post-view">
      <div class="post"><%=this.model.attributes.post%></div>
    </script>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/slidr/slidr.js"></script>
    <script src="bower_components/filepicker/filepicker.min.js"></script>
    <script src="bower_components/sticky/jquery.sticky.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/model.js"></script>
        <script src="scripts/homeView.js"></script>
        <script src="scripts/sideGameView.js"></script>
        <script src="scripts/sideNewsView.js"></script>
        <script src="scripts/sideReviewerView.js"></script>
        <script src="scripts/mainSideContainer.js"></script>
        <script src="scripts/slidrView.js"></script>
        <script src="scripts/loginView.js"></script>
        <script src="scripts/joinView.js"></script>
        <script src="scripts/reviewView.js"></script>
        <script src="scripts/CreateReviewView.js"></script>
        <script src="scripts/fullReviewView.js"></script>
        <script src="scripts/CreateSecondReviewView.js"></script>
        <script src="scripts/newsView.js"></script>
        <script src="scripts/reviewerView.js"></script>
        <script src="scripts/mainForumView.js"></script>
        <script src="scripts/forumView.js"></script>
        <script src="scripts/teamView.js"></script>
        <script src="scripts/topicView.js"></script>
        <script src="scripts/createTopicView.js"></script>
        <script src="scripts/createPostView.js"></script>
        <script src="scripts/commentView.js"></script>
        <script src="scripts/postView.js"></script>
        <script src="scripts/searchView.js"></script>
        <script src="scripts/displaySearchView.js"></script>
        <script src="scripts/router.js"></script>

        <!-- endbuild -->
</body>
</html>


